.profileInfo{
    border: 2px solid black;
    border-radius: 5px;
    width: 399.90px;
    background-color: #faf7f7;
    margin: 0 auto;
}

.infoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #171710;
}

.username{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: black;
    margin: 0;
}

.tagLocation {
    color: gray;
    font-size: 20px;
    margin: 0;
}

.statsList{
    display: flex;
    background-color: #b0b7c0;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.statsListItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #595e60;
    width: calc(100% / 3);
    padding: 10px 0;
    font-size: 20px;
}

.statsListItem .dataSpan{
    font-weight: 500;
}